div
{
  /*Used to get rid of top and bottom whitespace that appeared between sections; padding not noticeable*/
  padding-bottom: 0.1px;
}

.black-transbox
{
  width: 25%;
  height: 5%;
  background:rgba(0, 0, 0, 0.4);
  filter: alpha(opacity=40); /* For old browsers like IE8 and earlier*/
}

.blue-transbox
{
  width: 30%;
  height: 14%;
  background:rgba(54, 97, 171, 0.4);
  filter: alpha(opacity=40); /* For old browsers like IE8 and earlier*/
}

.center-items
{
  text-align: center;
}

.header-name
{
  color: white;
  position: absolute;
  top: 330px;
  right: 0;
  bottom: 0;
  left: 250px;
  padding-top: 25px;
  padding-bottom: ;
  padding-right: ;
  padding-left: ;
  text-align: center;
  font-size: 400%;
}

.header-tagline
{
  color: white;
  position: absolute;
  top: 500px;
  right: 0;
  bottom: 0;
  left: 250px;
  padding-top: 10px;
  padding-bottom: ;
  padding-right: ;
  padding-left: ;
  text-align: center;
  font-size: 150%;
}

.header-title
{
  color: white;
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 350%;
}

.img-header /*used to size header image to fit screen*/
{
  width: 100%;
  height: 70%;
}

.my-clients
{
  background-color: #651FFF;
}

.my-contact-information
{
  background-color: #00E676;
}

.my-portfolio
{
  background-color: #00B0FF;
}

.my-services
{
  background-color: #FF1744;
}

.my-skills
{
  background-color: #FF9100;
}

.section-titles
{
  color: white;
  padding-top: 50px;
  font-size: 350%;
  text-align: center;
}

.starter-template
{
  padding: 3rem 1.5rem;
  text-align: center;
}

.white-text
{
  color: white;
}
